<div class="row">
	<div class="col-lg-12">
		<h3 style="text-align:center;">Type a place...</h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="alert alert-danger" ng-show="errors.length > 0">
			<ul ng-repeat="error in errors">
				<li>{{ error }} </li>
			</ul>
		</div>
		<form name="form" ng-submit="form.$valid && queryVenues()" novalidate>
			<div class="form-group">
				<input type="search" ng-model="query" ng-minlength="2" ng-keyup="queryVenues()" class="form-control" require/> 
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
<maps></maps>